<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
  <title>MAR.ELE</title>
  <link rel="stylesheet" href="static/css/index_styles.css">
  <script src="static/js/informantes_script.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script>
    // Erstelle den Player-Link vorab mit Flask url_for
    const playerPath = '{{ url_for("player") }}';
  </script>
</head>
<body>
  <header>
    <div id="logoContainer">
      <a href="{{ url_for('index') }}"><img src="static/img/logo_ele.jpg" width="350" alt="ELE"></a>
    </div>
    <div id="mainNavigation">
      <nav>
        <ul>
          <!-- Navigation links -->
          <li><a href="{{ url_for('index') }}" class="page-link">Inicio</a></li>
          <li><a href="{{ url_for('proyecto') }}" class="page-link active"><i class="fa-solid fa-building-columns"></i> Proyecto</a></li>
          <li><a href="{{ url_for('informantes') }}" class="page-link"><i class="bi bi-person-lines-fill"></i> Informantes</a></li>
          <li><a href="{{ url_for('analisis') }}" class="page-link"><i class="bi bi-clipboard-data-fill"></i> Análisis</a></li>
          <!-- Logout Button -->
          <li class="logout-item">
            <a href="{{ url_for('logout') }}" class="logout-link">
              <i class="bi bi-box-arrow-right" alt="Logout"> Salir</i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

<!-- PAGE CONTENT HERE (content-container) -->
  <div id="content-container">

  <h2>MAR.ELE</h2>
  <p>El proyecto MAR.ELE estudia la pronunciación del español como lengua extranjera. Se trata de un proyecto de corpus que consiste en grabaciones realizadas con estudiantes de la Universidad de Marburg, Alemania. A los/las estudiantes se les pidió leer tanto un texto como una lista de palabras.* El corpus, que se amplía continuamente y se publica aquí exclusivamente con fines lingüísticos y didácticos, está diseñado para facilitar estudios empíricos sistemáticos sobre las dificultades, los desafíos y el desarrollo de la competencia en la pronunciación del español como lengua extranjera.
  <br><br>Bajo “Informantes” se presentan informaciones sociodemográficas relevantes acerca de los/las informantes.** La página permite reproducir la grabación completa de cada uno/a de los/las informantes para su análisis individual (haciendo clic en "Audio").
  Bajo “Análisis” se proporciona una tabla que permite reproducir la pronunciación de cada uno/a de los ítems de la lista y las frases del texto leído desde una perspectiva comparativa.
  <br><br>*La lista corresponde a la utilizada en el proyecto FEC – Fonología del Español Contemporáneo, lo que favorece estudios comparativos.
  <br>**El nivel de español indicado (A1 hasta C2) sigue el Marco Común Europeo de Referencia para las Lenguas, basado en la autoevaluación de los participantes.</p>
  <br>

  <h2>Créditos</h2>
  <p>Diseño: Felix Tacke</p>
  <p>Programación e infraestructura digital: Felix Tacke</p>
  <p>Grabaciones: Felix Tacke & estudiantes</p>

  
  </div>

  

  
  

  <!-- PAGE FOOTER -->

  <div class="footer">
    <div>&copy; <span id="currentYear"></span> | <a href="https://uni-marburg.de/YW1KYG" target="_blank">Felix Tacke</a> | Philipps-Universität Marburg</div>
  </div>



</body>
</html>
